{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center h4 text-secondary font-weight-bold">Inscription</h1>
    <div class="dropdown-divider"></div>
    {{ form_start(registrationForm) }}
        <div class="form-group row">
            <div class="col-md-4">
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom',
                    attr: {class: 'form-control'}
                }) }}
            </div>
            <div class="col-md-8">
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom',
                    attr: {class: 'form-control'}
                }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email, {
                label: 'Adresse email',
                attr: {class: 'form-control'}
            }) }}
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                {{ form_row(registrationForm.password.first, {attr: {class: 'form-control'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(registrationForm.password.second, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group d-flex justify-content-between flex-wrap">
            {{ form_label(registrationForm.agreeTerms, 'Accepter les termes et les conditions de notre entreprise') }} 
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-success form-control">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
