{% extends 'base.html.twig' %}

{% block title %}Boite de réception{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <!-- Liste des conversations -->
        <div class="col-md-4">
            <div class="list-group">
                {% for conversation in conversations %}
                    <a href="{{path('messages.get', {id: conversation.conversationId})}}" 
                        data-id="{{ conversation.conversationId }}"
                        class="messages list-group-item list-group-item-action d-flex align-items-center">
                        <img src="{{asset('/uploads/profil/' ~ conversation.profilPicture)}}" class="rounded-circle me-3" width="50" alt="Profil">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="flex-grow-1">
                            <h4 class="mb-0 h6"> {{conversation.lastname ~ ' ' ~ conversation.firstname}} </h4>
                            <div class="text-primary small contentMessage">{{conversation.content}}</div>
                            <time class="timeago small createdAtMessage" datetime="{{conversation.createdAt|date('c')}}">{{ conversation.createdAt|date('d/m/Y H:i') }}</time>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Zone de chat -->
        <div class="col-md-8 chat-container d-none">
            <div class="card">
                <div class="chat-header card-header d-flex align-items-center justify-content-center">

                </div>
                <div class="card-body chat-box p-3" style="height: 70vh; overflow-y: auto;">
                    
                </div>
                <div class="card-footer">
                    <form class="new-message input-group" method="POST">
                        <input name="content" type="text" class="content form-control" placeholder="Écrire un message..." required>
                        <button class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message') }}
{% endblock %}
