{% extends 'base.html.twig' %}

{% block title %}Boite de reception{% endblock %}

{% block body %}
    <h1>Boite de reception</h1>

    {% for conversation in conversations %}
        <div class="card card-body">
            <h1 class="h4">{{ conversation.firstname ~ ' ' ~ conversation.lastname  }}</h1>
            <h2 class="h6">{{ conversation.otherEmail }}</h2>
            <p>{{ conversation.lastMessage }}</p>
            <p>
                <a class="btn btn-primary" href="{{ path('app_message_show', {'id': conversation.otherUserId}) }}">Voir</a>
            </p>
        </div>
    {% else %}
        <div class="">
            Aucun message réçu
            {# Aucun message récu. <a href="{{path('user')}}">Trouver un membre ?</a> #}
        </div>
    {% endfor %}
{% endblock %}
