<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Find a land Surveyor" />
    <meta name="author" content="Erdie Flaviau ANJARATIANA" />
    <title>
      Erdiwo-{% block title %}{% endblock %}
    </title>

    {# Face-api.js via CDN (à charger AVANT Webpack Encore) #}
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.js"></script>
    
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body id="page-top">
    <div id="wrapper">
        {{ include('_partials/_dashbord.html.twig') }}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {{ include('_partials/_menu.html.twig') }}
                <div class="container-fluid">
                  {% block body %}{% endblock %}
                
            </div>
        </div>
        {{ include('_partials/_footer.html.twig') }}
    </div>
  </body>
</html>
