<div class="card-body text-center">
    {% if user.profilPicture %}
        <img src="{{asset('/uploads/profil/' ~ user.profilPicture)}}" class="rounded-circle img-fluid mb-3" alt="Avatar" style="max-width: 150px; height: auto;">
    {% endif %}
    <h3 class="card-title"><a href="{{path('app_profile', {id: app.user.id})}}">{{ user.fullname }}</a></h3>
    <p class="text-muted">{{ user.email }}</p>
    {% if user.pseudo %}
        <p class="card-text">Pseudo : {{user.pseudo}}</p>
    {% endif %}
    <p class="card-text text-info">Membre <time class="timeago" datetime="{{user.createdAt|date('d M Y')}}"> {{user.createdAt|date('d M Y')}} </time></p>
    <div class="d-flex justify-content-center gap-3">
        {% if app.request.get('_route') == 'app_user' %}
            <a href="{{path('app_profile', {'id': user.id})}}" class="btn btn-primary">Voir profil</a> &nbsp;
        {% endif %}
        {% if app.user != user %}
            <a href="{{path('conversations.check', {id: user.id})}}" class="btn btn-outline-secondary">Message</a>
        {% endif %}
    </div>
</div>